* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #4e0d3a;
  font-size: 10px;
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}



#prendas {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 90px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: rgb(243,199,214);
  text-transform: uppercase;
}

.prendas-title {
  font-size: 5em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: #4e0d3a;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

//.weather-list li a {
//  display: block;
//  position: relative;
//  line-height: 0;
//  color: white;
//}
//
//.weather-text {
//  font-size: 4em;
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  text-transform: uppercase;
//  text-shadow: 2px 2px 4px #000000;
//}

.prendas-all {
  margin: 30px 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 0;
}

.prenda-unit {
  padding: 10px 15px;
  text-align:center;
  margin: 10px;
}

.prenda unit h3 a {
  font-size: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #4e0d3a;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5%;
}

.new-item-btn{
  display: inline-block;
  color: #FFFF;
  background-color: #4e0d3a;
  padding: 15px 20px ;
  font-size: 15px;
  text-transform: uppercase;
  margin: auto 32%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}



#create-item {
  background: rgb(243,199,214);
  padding-bottom: 30px;
  padding-top: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding-right:13px;
  padding-left:13px;
}

.create-item-container {
  margin: 15px;
  position: relative;
}

.create-title-contact {
  color: #4e0d3a;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  padding-top: 40px;
}

.form-items {
  width: 100%;
  margin-bottom: 9px;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  position: relative;

}

.form-items-title{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #4e0d3a;
  margin-bottom: 9px;
  padding: 15px;

}


.btn-item-image {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 10px;
  cursor: pointer;
  background-color: #4e0d3a;
  font-family: 'Montserrat', sans-serif;
  margin: 9px 0;
  font-size: 10px;

}

.btn-item-submit{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 12px 24px;
  cursor: pointer;
  background-color: #4e0d3a;
  font-family: 'Montserrat', sans-serif;
  margin: 15px 65px;
}

.btn-item-cancel{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 12px;
  cursor: pointer;
  background-color: #e30425;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.btn-save-changes{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 12px 24px;
  cursor: pointer;
  background-color: #4e0d3a;
  font-family: 'Montserrat', sans-serif;
  margin: 10% 20%;
}

.btn-save-changes-cancel{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 12px;
  cursor: pointer;
  background-color: #e30425;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 10% 34%;
}

.prenda-card{
  background: rgb(243,199,214);
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding: 3% 5% 12% 5% ;
  position: relative;
}

.prenda-data{
  text-transform: uppercase;
  font-size: 25px;
  color: #4e0d3a;

}

.prenda-image{
  font-size: 25px;
  color: #4e0d3a;
 margin-right: 3%;
  padding-bottom: 15%;
}


.prenda-data h4{
  text-transform: uppercase;
  font-size: 25px;
  color: #4e0d3a;
}

.btn-edit-prenda{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 12px 24px;
  cursor: pointer;
  background-color: #4e0d3a;
  font-family: 'Montserrat', sans-serif;
  margin: 0 8%;
  font-size: 14px;
}

.btn-delete-prenda{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 12px 24px;
  cursor: pointer;
  background-color: #e30425;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 8% 8% ;

}

.btn-return{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 24px;
  cursor: pointer;
  background-color: #FFFF;
  margin: 15% 27% 0% 30%;
}

.btn-return a{
  color: #4e0d3a;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.btn-delete-prenda a , .btn-edit-prenda a {
  color: #FFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

/*como minimo el viewport tiene 650px de ancho*/
@media (min-width:650px) {


  .weather-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
  }

  .weather-list li {
    width: 50%;
  }

  .prendas-all {
    flex-direction: row;
    margin: 5%;
    text-align: center;
  }

  .prenda-unit {
    padding: 1.5%;
    float: left;
    margin: 0 0 10%;
    width: 48.33%;
  }

  .prenda-unit h3{
    margin-top: 7%;

  }

  .new-item-btn{
   margin:auto 42%;
  }
#create-item{
  padding-right: 15%;
  padding-left: 15%;
}

  .btn-item-submit{
    font-size: 18px;

    margin: 5% 1% 5% 166px;
  }
  .btn-item-cancel{
    font-size: 18px;
    margin: 5% 10% 5% 5%;
    padding: 15px 20px;
  }

  .btn-save-changes{
    font-size: 18px;
    margin: 10% 3% 5% 18%;
  }

  .btn-save-changes-cancel{
    font-size: 18px;
    margin: 5% 10% 5% 5%;
    padding: 15px 20px;
  }

  .btn-edit-prenda{
    margin: 0% 30%;
  }
  .btn-edit-prenda a, .btn-delete-prenda a{
    font-size: 20px;

  }

  .prenda-image{
    padding-bottom: 10%;
  }
  .btn-delete-prenda{
    margin-top: 5%;
    margin-left: 30%;
    margin-right:30%;
    font-size: 25px;
  }

  .btn-return{
   margin: 0 39%;
  }

  .btn-return a{
    font-size:18px;
  }
}

@media(min-width:1200px) {

  .container-prendas {
    //max-width: 1200px;
    margin: 2% 5%;

  }

  .close, .toggle-nav {
    display: none;
  }
  .weather-list li {
    width: 33.33%;
  }

  .prendas-all {
    margin-top: 5%;
    margin:0;
    padding-top: 5%;
    font-size: 45px;
  }

  .prenda-unit {
    padding: 26px 8px;
    width: 31%;
    margin:0;
  }

  .new-item-btn {
    margin: auto 46%;
  }

  #create-item {
    padding-right: 25%;
    padding-left: 25%;
  }

  .btn-item-submit{
    //margin-right: 3%;
    margin: 5% 1% 5% 71px;
  }

  .btn-item-cancel{
    padding: 14px;
  }

  .btn-save-changes{
    margin: 10% 0 2% 17%;
  }

.prenda-card{
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  flex-wrap: wrap;
}
  .prenda-data{
    display: inline-block;
    padding-left: 5%;
    text-transform: uppercase;
    margin-bottom: 10%;
    margin-top: 2%;
    margin-right: 7%;
    margin-left: 0%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    float: right;

  }
  .prenda-data h4{
    font-size: 26px;
    line-height: 2em;
  }

  .prenda-image{
    order: -1;
    width: 40%;
    margin: 3%;
    //margin-bottom: 0;
  }

  .btn-edit-prenda{
    margin: 0;
    padding: 15px;

  }
  .btn-edit-prenda a{
    font-size: 25px;

  }
  .btn-delete-prenda{
    margin: 0;

  }

  .btn-delete-prenda a{
    font-size: 25px;

  }

  .btn-return{
    margin: 0;
  }



}

